* {
    font-family: "JetBrains Mono", monospace;
}

#passage {
    margin-top: 35px;
    font-size: 34px;
    line-height: 1.8;
    color: #646669;
    user-select: none;
    white-space: pre-wrap;
    word-break: break-word;
}

#passage span {
    transition: transform 0.08s ease;
}

.correct {
    color: #d1d0c5
}

.incorrect {
    color: #ca4754;
}

span {
    color: #666
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #323437;
    color: #d1d0c5;
    font-family: "JetBrainsMono", monospace;
}

h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    color: #e2b714;
    font-size: 48px;
    font-weight: 700px;
}

#game,
#results {
    width: min(900px, 90vw);
}

#target-display,
#attempt-display {
    color: #646669;
    font-size: 18px;
    margin: 8px 0;
}

button {
    background: #44464a;
    color: #d1d0c5;
    border: none;
    border-radius: 8px;
    padding: 12px 26px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition:
        background .2s,
        color .2s,
        transform .15s;
}

button:hover {
    background: #e2b714;
    color: #323437;
}

button:active {
    transform: scale(.97);
}

button:disabled {
    opacity: .5;
    cursor: default;
}

.buttons {
    display: flex;
    gap: 12px;
    margin: 12px 12px 12px 12px;
}

#results {
    text-align: center;
}

#results h2 {
    color: #e2b714;
    font-size: 36px;
}

#results p {
    color: #d1d0c5;
    font-size: 20px;
}

hr {
    border: none;
    height: 1px;
    background: #555;
    margin: 25px 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#leaderboard-container {
    max-height: 400px;
    overflow-y: auto;
}

#cursor {
    position: absolute;
    width: 2px;
    background: white;
    pointer-events: none;
    transition: left 0.12s ease, top 0.12s ease;
    will-change: left, top;
}

#cursor.blink {
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#passage {
    position: relative;
}